* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    nav {
        ul {
            li {
                a {
                    color: rgba(230, 230, 230, 0.9);
                    list-style: none;
                    padding: 15px 10px;
                    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
                    display: block;
                    text-decoration: none;
                }
                .activated {
                    background-color: #00A7FF;
                }
            }
        }
    }
    .toggle-btn {
        position: absolute;
        left: 230px;
        span {
            display: block;
            width: 10px;
            height: 5px;
            background: #151719;
            margin: 5px 0px;
        }
    }
}

.activated {
    background-color: #00A7FF;
}

.statsContent {
    position: fixed;
    width: 90%;
    height: 100%;
    margin-left: 80px;
    margin-right: -100px;
}

#locationSelector {
    background: #2B67A4;
    color: rgba(230, 230, 230, 0.9);
    padding: 30px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    .btn {
        padding: 15px 15px;
        margin: 9px 0px;
    }
}